@import url(./style_resets.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


:root{

    /*Primary Colors*/
    --light-cyan:hsl(193, 38%, 86%);
    --neon-green:hsl(150, 100%, 66%);
    /* Neutral Colors*/
    --grayish-blue:rgb(42,51,63);
    --dark-grayish-blue:rgb(29,34,43);

    --fw-bold:800;
}

body{
    width:100%;
    height:100%;
    margin:0;
    padding:0 1rem;
    font-family: 'Manrope',sans-serif;
    background-color: var(--dark-grayish-blue);
}

.advice{
    width: 345px;
    max-width: 540px;
    height:auto;
    position:relative;
    background-color: var(--grayish-blue);
    text-align: center;
    padding-top:2rem;
    padding-bottom: 4rem;
    border-radius: 10px;
    margin:8rem auto;
    
}


.advice__id{
    height:auto;
    width:100%;
    
}
.advice__text{
    text-transform: uppercase;
    color:var(--neon-green);
    font-size: 10px;
    letter-spacing: 3px;
}

.advice__quote{
    width: 100%;
    height:auto;
    color:var(--light-cyan);
    padding:1.5rem;
    font-size: 1.4em;
}

.advice__divider{
    width:100%;
    height:auto;
}

.advice__dice{
    width:60px;
    height:60px;
    background-color: var(--neon-green);
    border-radius: 50%;
    position: absolute;
    bottom:-30px;
    left:41%;
}

.advice__dice:after{
    content: "";
    position: absolute;
    width:60px;
    height:60px;
    border-radius: 50%;
    z-index: 0;
    box-shadow: 0 0 25px var(--neon-green);
    opacity: 0;
    transition: opacity 750ms;
}

.advice__dice:hover:after{
    opacity: 1;
}
.advice__dice-image{
    width:37%;
    height:37%;
}


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


